fastapi
uvicorn[standard]
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
alembic

# OCR
pymupdf
pytesseract
Pillow
opencv-python-headless

# NLP
spacy
# after install: python -m spacy download en_core_web_sm

# RAG + Embeddings
chromadb
ollama

# Report
weasyprint

# Utilities
pydantic
httpx

# External llms
google-genai
google-generativeai

# Database
sqlalchemy>=2.0.0 # (SQL Toolkit & ORM)
psycopg2-binary>=2.9.0  # (PostgreSQL Database Adapter)
alembic>=1.11.0 # (Database Migrations Manager)